# Prefer integrated APU/iGPU as primary display GPU in GNOME Mutter (AMD & Intel Legion variants)
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x1002", ATTR{class}=="0x030000", ENV{mutter-device-preferred-primary}="1"
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{class}=="0x030000", ENV{mutter-device-preferred-primary}="1"
